.container{
	margin-top: 50px;
}

.title-header{
	display: flex;
	align-items: center;
	gap: 10px;
}

.link h2{
	opacity: 1;
}
.link a {
	position: relative;
	text-decoration: none;
	color: black;
}

.link a:hover {
	transition: all .2s;
	padding-left: 10px;
}